.slidecomponent {
    width: 22rem;
    height: 22rem;
}
.first-cont {
    margin-top: 4rem !important;
}
.outerrow {
   min-height: 25rem !important;
   overflow-y: hidden;
}
.outerrow p {
    margin-top: 20px;
}
.workrow {
    padding-left: 2rem !important;
}

@media all {

    .tabs {
      padding-top: 3%
    }
    .tab-list {
      padding-left: 0;
      padding-right: 0;
    }
    .tab-list > li {
      padding: 0 3%;
      border-left: 1px solid #6c6c6c;
      text-align: center;
      float: left;
      cursor: pointer;
    }
    .tab-list > li:first-child {
      border-left: none;
    }
    .tab-list > li:hover > h3,
    .tab-list > li.active > h3 {
        font-weight: 500;
      color: #009B72;
    }
    body.dark .tab-list > li:hover > h3,
    body.dark .tab-list > li.active > h3 {
      color: #EDF67D;
    }
    .tab-list > li > h3 {
      font-weight: 100;
      display: block;
      transition: all 500ms ease;
    }
    .tabs-content { opacity: 0; display: none; margin: 3em 0; opacity 1s ease-out;  }
    .tabs-content.active { opacity: 1; display: block; }
    
    /* Tab 1 Set */
    .tabs-content > div > i  {
      font-size: 65px;
      float: left;
      display: block;
      margin-top: 10px;
    }
    .tabs-content > div > article {
      float: right;
      width: 80%;
    }
    .tabs-content > div > article h3 {
      font-weight: bold;
    }
    
    /* Bar Set Style */
    .tab-header { margin: 0 0 1em; }
    .tab-header h3 { font-size: 20px; text-transform: uppercase; }
    .single-bar {
      float: left;
      text-align: center;
      padding-right: 0;
      padding-left: 0;
    }
    .single-bar p { text-align: center; }
    .single-bar p.bar-place { margin: 1em 0; } 
    .bar-container {
      border-bottom: 1px solid #fff;
      padding: 0 1em;
      min-height: 280px;
      position: relative;
    }
    .bar {
      position: absolute;
      overflow: hidden;
      bottom: 0;
    }
    .bar:first-child { padding-left: 0; } 
    .bar-value {border: 1px solid #fff;
      border-bottom: none;}
    .bar1 { height: 150px; }
    .bar2 { height: 245px; }
    .bar3 { height: 110px; }
    .bar4 { height: 95px; }
    .bar5 { height: 180px; }
    .bar6 { height: 50px; }
    .bar-highlight {
      background-color: #4ECDC4;
      border-color:  #4ECDC4;
    }
    .bar-highlight:hover { opacity: .9; }
  }

@media only screen and (max-width: 768px) and (min-width: 0px) { 
        .outerrow {
            height: fit-content !important;
            padding-bottom:14px ;
            overflow-y: hidden;
         }
         .sliderrow {
            margin-top: 0rem;
         }
    
    .slidecomponent {
        height: 20rem;
        width: 20rem;
        margin-left: .1rem !important;
        border-radius: 10px; }
        .workrow {
            padding-left: 0rem !important;
        }

        .workrow .col-12 {
            margin: 0 0 0 1rem !important;
            display: flex;
            justify-content: center;
        }
         }
         @media only screen and (max-width: 990px) and (min-width: 768px)  { 
            .workrow .col-md-5 {
                margin: 0 0 0 1rem !important;
            }
            .workrow {
              padding: 0 !important;
              margin: 0;
              width: 100%;
            } }

  @media only screen and (max-width: 990px) and (min-width: 726px) {       .slidecomponent {
    height: 19rem;
    width: 19rem;
    margin-left: .1rem !important;
    border-radius: 10px; }
   }      
 @media only screen and (max-width: 1300px) and (min-width: 991px) {
    .workrow .col-md-5 {
      width: fit-content;
        margin: 0 !important;
        display: flex;
        padding: 0;
    }
    .slidecomponent {
      width: 100%;
    }
 }