* {
    box-sizing: border-box;
}
body {
    background-color: #FCFCF6;
    font-family: 'Poppins';
    font-style: normal;
    transition: all 0.6s;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
h1 {
    margin: 0;
    padding: 0;
    color: #000720;
}
body.dark h1 {
    color: #EEEEEE;
}

.mainmain  {
    overflow-x: hidden;
}

.h-navbar {
    background: #FCFCF6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.6s;
}
body.dark .h-navbar a {
    color: #EEEEEE;
}
body.dark .main-heading-h{
    color: #EEEEEE;
}
  /*SWITCH*/
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    align-self: center;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #009B72 !important;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  body.dark .slider:before {
    background-color: #393E46;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  input:checked + .slider {
    background-color: #EDF67D !important;
  }
  .slider:before {
    background-color: #FCFCF6;
  }
  body.dark #checkbox .slider {
    background-color: #393E46 !important;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider {
    border-radius: 30px;
  }
  
  .slider:before {
    border-radius: 50%;
  }
  
.first-roww {
    margin-top: 8rem !important;
}

.main-loho-h {
    font-family: 'Rampart One';
    font-size: 2.625rem;
    color: #009B72;
    text-decoration: none;
}

.link-col-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-decoration-line: none;
}

.h-navbar a {
    text-decoration: none;
    color: #009B72;
}
body.dark .h-navbar a {
    color: #EDF67D;
}

.blue-circle {
    /* position: relative; */
    width: 22.375rem;
    height: 22.375rem;
    /* left: 4rem; */
    background: #2042BB;
    border-radius: 50%;
    z-index: -1;
}
body.dark .blue-circle {
    background: #5E7CE2;
}

.dp-image {
    position: absolute;
    width: 22.375rem;
    height: 22.375rem;
    z-index: 1;
    /* left: 4.6rem; */
    justify-self: unset;   
}
.firststcol {
    z-index: 1;
}

.dotsandlines {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 5px;
    height: 5rem;
    /* width: 100px;     */
    margin-left: -4.5rem;
}

.circle-h-dots {
    width: 7px;
    height: 7px;
    border-radius: 100% !important;
    margin: 10px 20px ;
    background: #F26430;

}
body.dark .circle-h-dots{
    background-color: #0ACF83;
}

.circle-h-dots:nth-child(6), .circle-h-dots:nth-child(11), .circle-h-dots:nth-child(16) {
    background-color: #009DDC;
}
body.dark .circle-h-dots:nth-child(6), body.dark .circle-h-dots:nth-child(11) , body.dark .circle-h-dots:nth-child(16) {
    background-color: #000720;
}
.line-cylinder {
    width: 1rem;
    height: .25rem;
    border-radius: 100px;
    background: #F26430;
    margin-right: 10px;
}
body.dark .line-cylinder {
    background: #0ACF83;
}
.line-cylinder:nth-child(14),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11), .line-cylinder:nth-child(10), .line-cylinder:nth-child(15), .line-cylinder:nth-child(16), .line-cylinder:nth-child(17) {
    display: none !important;
}
.line-cylinder-line {
    width: 8rem;
    height: 4px;
    border-radius: 100px;
    background: #F26430;
    align-self: flex-end;
    margin-bottom: -85px;
}
body.dark .line-cylinder-line {
    background-color: #0ACF83;
}
.line-cylinder-line2 {
    width: 180px;
    height: 4px;
    border-radius: 100px;
    background: #F26430;
    margin-left: -50px;
}
body.dark .line-cylinder-line2 {
    background-color: #0ACF83;
}

.linediv {
    justify-content: end;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-left: -90px;
    margin-bottom: -90px;
}


.dotted-line {
    position: absolute;
    top: 10rem;
    left: 0px !important;
    margin-top: 40px;
    /* z-index: -1; */
}

.imagealignerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center */
    margin-left: 90px;
}

.coldiv {
    width: 100%;
}
.first-divax {
    height: fit-content;
}

.hitext {
    font-weight: 600;
}
.sayinghi {
    margin-top: 80px !important;
}

.imtext {
    margin-top: -50px;
}

.viewbtn {
    text-decoration: none !important;
    border: 2px solid #009B72;
    border-radius: 5px;
    color: #009B72;
}
body.dark .viewbtn {
    color: #EDF67D;
    border: 2px solid #EDF67D;
}



.main-heading-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    width: 90% ;
}
.second-divax> p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
}

.download-div {
    width: 100%;
    text-decoration: none;
    color: #009B72;
    font-size: 22px;
    font-weight: 500;
}
.download-div:hover {
    color: #009B72;
}
body.dark .download-div {
    color: #EDF67D;
}
body.dark .download-div:hover {
    color: #EDF67D;
}
.svgdiv a {
    color: #F5FDC6;
}
body.dark.svgdiv i {
    color: #222831;
}

.mail-me {
    color: #000720;
}
body.dark .mail-me {
    color: #EEEEEE;
}

/* SECOND CONTAINER MY WORKS */
.content-container-h {
    margin-top: 4.5rem;
}

.content-heading {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
}

.slidecomponent, .slidecomponent-b {
    height: 20rem;
    width: 20rem;
    border-radius: 20px;
    filter: drop-shadow(6px 6px 6px rgba(50, 50, 50, 0.132));
    cursor: grab;
}
.myimages {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
}

.outerrow {
    overflow: scroll;
    overflow: auto;
 }
      
.outerrow::-webkit-scrollbar {
    height: 6px;

  }

  .outerrow::-webkit-scrollbar-track {
    background: transparent;
    cursor: grab;
    margin-left: 76px;
  }
  
  .outerrow::-webkit-scrollbar-thumb {
    background: #f264305e;
    border-radius: 100px;
    transition: .3s ease-in-out;
  }
  body.dark .outerrow::-webkit-scrollbar-thumb {
    background: #009b7236;
  }
  .outerrow::-webkit-scrollbar-thumb:hover {
    background: #F26430;
    transition: .3s ease-in-out;
  }
  body.dark .outerrow::-webkit-scrollbar-thumb:hover {
    background: #009B72;
  }

  /* Main Scrollbar */

  ::-webkit-scrollbar {
    width: 6px;
    cursor: grab;
  }
::-webkit-scrollbar-track {
    overflow-y: hidden;
    background: transparent;
    margin-right: 10px;


  }
  
::-webkit-scrollbar-thumb {
    background: #F26430;
    border-radius: 100px;
  }
  body.dark ::-webkit-scrollbar-thumb {
    background: #009B72;
  }

.sliderrow {
    display: flex;
    margin-top: 36px;
    width: fit-content;
    margin-left: 3rem;
}



.secondparent {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(3, 1fr);
       width: 80%;
       grid-column-gap:12px;
       margin-left: -1.51rem !important;
}
  
.skilltray {
    width: 80%;
    aspect-ratio: 1/1;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
body.dark .skilltray{
    background: #222831;
}

.skilltray-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    aspect-ratio: 1/1;
}   

.skilltray-inner p {
    margin-top: 1rem;
    margin-bottom: 0;
}
.interestincol {
    text-align: left;
}

.interestincol h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 72px;
    color: #009B72;
}
body.dark.interestincol h1, body.dark .interestincol p{
    color: #EEEEEE;
}
.interestincol p {
    font-weight: 400;
    font-size: 24px;
    color: #009B72;
}

.interestincol p a:hover {
    color: #009DDC;
    font-weight: 500;
}

footer {
    background:#F5FDC6 ;
    padding: 20px ; 
    height: 18rem;
}
body.dark footer {
    background: #222831;
}

footer h2 a {
    margin-bottom: 2rem;
    color: #000720;
    font-weight: 600;
    text-decoration:none;
}
body.dark footer h2 a,body.dark footer p,body.dark footer p a {
    color: #EEEEEE;
}
footer p {
    color: #000720;
    font-weight: 500;
    text-decoration:none;
}

footer p a {
    color: #000720;
    font-weight: 600;
}


/* FAB ICON */
.fab-button-main {
    position: fixed;
    bottom: 3.5rem;
    right: 7rem;
    z-index: 10;
    width: fit-content;
    height: fit-content !important;
}

.innerfabflex {
    height: 3rem;
}
.innerfabflex a {
    color: #FCFCF6;
}
body.dark .innerfabflex a {
    color: #EEEEEE !important;
}
body.dark .innerfabflex a:hover {
    background: #ececec;
}

.inner-fab {
    background: #009B72;
    height: 100%;
    border-radius: 10000px;
    font-size: 12px;

}
body.dark .inner-fab {
    background: #EDF67D;
}
body.dark .inner-fab i {
    color: #44474f;
}
.inner-fab:hover {
    background: #006147;
}
body.dark .inner-fab a:hover, body.dark .inner-fab:hover {
    background: #c0c761;
}

.inner-fab.dark {
    border: 2px solid #EDF67D;
}

.get-in-touch {

    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 3.5rem;
    right: 7rem;
    z-index: 1000;
    cursor: pointer;
}
.git-inner {

    width: fit-content;
    aspect-ratio: 1/1;
    background: #009b72;
    border-radius: 1000px;
    text-align: center;
    color: #FCFCF6;
}
body.dark .git-inner {
    background: #EDF67D;
    color: #222831;
}

.git-inner p {
    margin: 0;
    font-weight: 500;
}
.inner-fab {
    aspect-ratio: 1/1;
    color: #009B72;
}
body.dark .inner-fab {
    color: #EDF67D;
}
.inner-fab svg {
    border-radius: 1000px;
}
.linki, .insta, .phone {
    transition: ease-in-out;
    transition-duration: 300ms;
    position: relative;
    bottom: 1rem;
    margin-left: 1.5rem;

}
.linki {
    right: -8rem;
}
.phone {
    right: 1.2rem;
}
.insta {
    right: -3rem;
}
.fab-button-main:hover .innerfabflex .insta, .fab-button-main:hover .innerfabflex .linki {
    right: 1.8rem;
}
.fab-button-main:hover .innerfabflex .phone {
    bottom: 6rem;
}
.inner-fab:hover{
    cursor: pointer;
}

/* ABOUT ME */
.about-me-row {
    margin-top: 3rem;
}
.abt-me-head {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.abt-me-txt h4 {
    font-size: 1.3rem;
    font-weight: 300;
    line-height: 2rem;
    margin-bottom: 1.2rem;
}
.abt-me-txt a {
    text-decoration: underline;
    color: #009B72 !important;
}
body.dark .abt-me-txt a {
    color: #EDF67D !important;
}
 
.carousel-inner {
    border-radius: 10px;
    box-shadow:4px 4px 10px rgba(62, 62, 62, 0.53) ;
}
.my-imag-div {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow:4px 4px 10px rgba(62, 62, 62, 0.53) ;

}
.my-about-img {
    width: 100% !important;
    height: 100%;
    aspect-ratio: 4/5;
    object-fit: cover;
    border-radius: 10px;
    box-shadow:4px 4px 10px rgba(62, 62, 62, 0.53) ;
}
.cptn-cls {
    position: absolute;
    bottom: 2px;
    color: #eeeeeeaa;
    padding: 12px;
}
.abt-me-txt a {
    color: #000720;
}
.svgdiv {
    width: 48px;
    height: 48px;
    background: #000720;
    border-radius: 50%;
    font-size: 12px;
    color: #F5FDC6;
}
.svgdiv:hover {
    background: #44474f;
    color: #f6ffbc;
}
body.dark .svgdiv {
    background: #EEEEEE;
    color: #222831;
}
/* darkmode */
body.dark {
    background: #393E46;
    color : #EEEEEE;
  }
  body.dark .h-navbar {
    background: #393E46;
    transition: all 0.6s;
  }
  body.dark .line-cylinder-line2 {
    background: #0ACF83;
    transition: all 0.6s;
  }

  .navbar-toggler {
    border: none !important;
    color: transparent !important;
}

.farst-raw {
    margin-top: 6rem !important;
}

.slidebtn {
    border: none;
    background: transparent;
    padding: 0;
}
.modal-body .slidecomponent {
    width: 35rem;
    height: 35rem;
    border-radius: 8px;
    box-shadow: 4px 8px 8px #30303056;
}

.modal-dialog {
    max-width: fit-content;
}
.modal-body {
    background: transparent;
}
.modal-header {
    border: none;
}
.modal-content {
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.btn-close {
    background-color: #FCFCF6;
    border-radius: 50% ;
}
.modal-header h5 {
    margin: 0;
    color: #FCFCF6;
}
.modal-slide {
    background: transparent;
}
.underdiv {
    height: 100%;
    border-bottom: 4px solid #009b72;
}
body.dark .underdiv {
    border-bottom: 4px solid #EDF67D;
}
.underdiv-nil:hover {
    border-bottom: 4px solid #009b72;
    transition: .1s ease-in-out;
}
body.dark .underdiv-nil:hover {
    border-bottom: 4px solid #EDF67D;
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');



.area{
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background:#0acf8353;
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

body.dark .circles li {
    background:#eef67d2e;
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

@media only screen and (max-width: 768px) and (min-width: 0px) { 
    .main-loho-h {
        font-size: 2rem;
    }
    .link-col-h {
        font-size: .9rem;
        padding: 0 !important;
        align-items: flex-end;
        font-weight: 400;
    }
    .fa-circle-down {
        margin-top: 12px;
    }
    /* Hero image */
    .first-roww {
        margin-top: 4.5rem !important;
    }
    
    .parent {
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        margin-left: -2.3rem;
        margin-top: 1.5rem !important;
        width: 11rem;
        }
    .circle-h-dots {
        width: 5px;
        height: 5px;
        margin: 8px 6px 
    }
    .dp-image, .blue-circle {
        width: 13.375rem;
        height: 13.375rem;
    }                                             
    
    .line-cylinder {
        width: .8rem;
        height: 3px;
        margin-right: 8px;
    }
    .line-cylinder:nth-child(5),.line-cylinder:nth-child(14),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11), .line-cylinder:nth-child(10), .line-cylinder:nth-child(15), .line-cylinder:nth-child(16), .line-cylinder:nth-child(17) {
        display: none !important;
    }
    .line-cylinder-line {
        width: 25rem;
        height: 3px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 4rem;      
    }
    .line-cylinder-line2 {
        width: 5rem;
        height: 3px;
        border-radius: 100px;
        background: #F26430;
    }   
    .linediv {
        margin-left: -9px;
        margin-bottom: -9px;
    }    
    .dotted-line {
        margin-top: -1.8rem;
    }   
    .imagealignerdiv {
        margin-left: 1.8rem;
    }
    .textdiv {
        margin-left: -.5rem;
    }
    .coldiv {
        width: 100%;
    }
    .first-divax {
        height: fit-content;
    }
    .hitext {
        font-size: 1.25rem;
        font-weight: 500;
    }
    .sayinghi {
        margin-top: 0px !important;
    }
    .imtext {
        margin-top: 6px;
    }

/* Im UI UX Designer */
    .main-heading-h {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 1rem;
    }
    .second-divax {
        padding: 2rem .5rem 0 .5rem !important;
    }
    .second-divax p {
        font-size: .8rem !important;
        margin-top: 1rem !important;
    }

    /* FAB button */
    .get-in-touch {
        bottom: 2%;
        right: 5%;
    }

    .linki, .insta, .phone {
        transition: ease-in-out;
        transition-duration: 300ms;
        position: relative;
        bottom: -1.5rem;
        margin-left: -1rem;    
    }
    .linki {
        right: -8.5rem;
    }
    .phone {
        right: -4.5rem;
    }
    .insta {
        right: -6.5rem;
    }
    .fab-button-main:hover .innerfabflex .phone {
        bottom: 4rem;
    }
    .inner-fab:hover svg{
        box-shadow: 0px 0px 10px #009edc7d;
        object-fit: cover;
        cursor: pointer;
    }
    .fab-button-main:hover .innerfabflex .insta {
        right: -1.5rem;
    }
     .fab-button-main:hover .innerfabflex .linki {
        right: 1rem;
    }
    .content-container-h {
        margin-top: 3rem !important;
    }
    .content-container-h .container-fluid {
        padding: 0 !important;
    }
    .content-heading {
        font-size: 1rem;
    }
    .outerrow {
        padding-left: 1rem !important;
    }
    .slidecomponent, .slidecomponent-b {
        height: 20rem;
        width: 20rem;
        margin-left: .1rem !important;
        border-radius: 10px;
    }
    .viewbtn {
        font-size: .8rem;
        padding: 8px 16px !important;
    }
    .sliderrow {
        margin-top: 1rem;
        margin-left: .5rem;
    }
    .skillrow {
        margin-top: 0 !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skilltray {
        width: 96% !important;
    }
    .skilltray p {
        font-size: .7rem;
        padding-top: .8rem;
        margin-top: 0;
    }
    .skilltray-inner {
        width: 100%;
    }

    .interestincol {
        margin-top: 2rem;
        width: 85%;
    }
    .interestincol h1 {
        font-size: 1.1rem;
        line-height: 3rem;
    }
    .interestincol p {
        font-size: .8rem;
    }
    footer {
        height: 11rem;
    }
    .inner-foot {
        padding-left: 1.1rem !important;
    }
    .footer-mail-h2 {
        font-size: 1.2rem !important;
    }
    .footer-mail-p {
        font-size: .8rem;
        margin-top: 0px !important;
        width: 65%;
    }
    .fa-envelope {
        font-size: 26px;
        margin: 0px 10px 0 0 !important;    }
    .svgdiv {
       margin-top: 1rem !important;
       width: 32px;
       height: 32px;
       font-size: 10px !important;
    }

    /* ABOUT ME */
    .about-me-row {
        padding: 0 2rem 0 2rem !important;
    }
    .about-me-row .col-lg-8 {
        width: 100%;
        padding-left: 0 !important;
    }
    .about-me-row h1 {
        font-size: 1rem;
        padding-left: 1rem !important;
    }
    .about-me-row h4 {
        font-size: .9rem;
        line-height: 1.6rem;
        padding-top: .5rem !important;
        padding-left: 1rem !important;
        letter-spacing: .1px;
    }
    .secondd-row {
        flex-direction: column-reverse;
        margin-top: 3rem !important;
    }
    .about-me-row .col-lg-12 {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 2rem !important;
        padding-top: 0 !important;
    }

      .farst-raw {
        padding-top: 2rem !important;
        margin-top: 2rem !important;
    }
    .abt-me-col {
        padding: 0 !important;
    }
    .abt-me-head {
        margin-bottom: .2rem;
    }
    .abt-me-txt h4 {
        margin-bottom: .5rem;
    }
    .final-head {
        padding: 0rem !important;
        margin-left: 1rem !important;
        margin-right: 0rem !important;
    }
    .final-head .abt-me-txt h4 {
        line-height: 1rem;
    }
    .switch {
        width: 40px;
        height: 24px;
      }
   .slider:before {
    height: 18.5px;
    width: 19px;
    top: 11.5%;
   }   
   input:checked + .slider:before {
    -webkit-transform: translateX(14px);
    -ms-transform: translateX(14px);
    transform: translateX(14px);
  }
  .switch {
    margin-bottom: -0.8rem;
  }
  .modal {
    padding: 0;
    margin: 0;
}
.modal-content, .modal-body, .modal-slide {
    max-width: 100%;
    max-height: fit-content;
    padding: 0;
    border-radius: 10px;
}
.modal-header {
    padding: 1rem 1rem 1rem 0 !important;
}
.modal-header h5 {
    font-size: 1rem;
}
.modal-header .btn-close {
    height: 10px;
    width: 10px;
    font-size: 8px;
}

.modal-slide .myimages {
    object-fit: contain;
    border-radius: 10px;
    height: fit-content;
}

.tab-list  li:hover  h3,
.tab-list  li h3,
.tab-list  li.active  h3{
    font-size: 1rem;
}
.underdiv {
    border-bottom: 2px solid #009b72;
}
.underdiv-nil:hover {
    border-bottom: 2px solid #009b72;
}
.nav-cont {
    padding-right: 10px;}

 }

 @media only screen and (max-width: 768px) and (min-width: 476px)  {

    .imagealignerdiv {
        margin-left: 7rem;
    }

    .skillrow {
        display: flex !important;
        flex-direction: row !important;
    }
    .line-cylinder:nth-child(5),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11) {
        display: block !important;
    }
    .interestincol {
        display: block !important;
        margin-bottom: 0;
        text-align: center;
        padding-left: 0;
        display: flex !important;
        width: 100%;
        margin-top: 1.3rem;
    }
    .interestincol h1 {
        font-size: 1.4rem;
        line-height: 3rem !important;
        height: fit-content;
    }
    .interestincol p {
        font-size: 1rem;
    }
    .secondparent {
        width: 75%;
    }
    .skillheading {
        width: 100%;
        justify-content: center !important;
    }
    .skillheading .content-heading {
        margin: 0px !important;
    }
    .skilltray p {
        font-size: 100%;
        padding-top: .6rem;
      }
      .skilltray {
        width: 100% !important;
    }
    .skilltray p {
        font-size: .7rem;
        padding-top: .8rem;
        margin-top: 0;
    }
    .skilltray-inner {
        width: 100%;
    }
    .get-in-touch {
        bottom: 2%;
        right: 5%;
    }

    .linki, .insta, .phone {
        transition: ease-in-out;
        transition-duration: 300ms;
        position: relative;
        bottom: -1.5rem;
        margin-left: -1rem;    
    }
    .linki {
        right: -8.5rem;
    }
    .phone {
        right: -4rem;
    }
    .insta {
        right: -6.5rem;
    }
    .fab-button-main:hover .innerfabflex .phone {
        bottom: 4rem;
    }
    .inner-fab:hover svg{
        box-shadow: 0px 0px 10px #009edc7d;
        object-fit: cover;
        cursor: pointer;
    }
    .fab-button-main:hover .innerfabflex .insta {
        right: -.5rem;
    }
     .fab-button-main:hover .innerfabflex .linki {
        right: 1.5rem;
    }

    .link-col-h {
        width: 50%;
    }
 }
 @media only screen and (max-width: 768px) and (min-width: 581px)  {
    .imagealignerdiv {
        margin-left: 11rem;
    }
    .secondparent {
        width: 60%;
    }
    .underdiv {
        border-bottom: 2px solid #009b72;
    }
    .underdiv-nil:hover {
        border-bottom: 2px solid #009b72;
    }
 }
 
 @media only screen and (max-width: 990px) and (min-width: 768px)  {
    .first-roww {
        margin-top: 6rem !important;
    }
    .main-loho-h {
        font-size: 2.3rem;
    }
    .link-col-h {
        font-size: 1rem;
        font-weight: 400;
        padding-right: 0 !important;
        width: 50%;
    }
    .dp-image, .blue-circle {
        width: 17.375rem;
        height: 17.375rem;

    }
    .line-cylinder:nth-child(5),.line-cylinder:nth-child(14),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11), .line-cylinder:nth-child(10) {
        display: none !important;
    }
    .parent {
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        margin-left: -2.5rem;
        margin-top: 1.5rem !important;
        width: 11rem;
        }
    .circle-h-dots {
        width: 5px;
        height: 5px;
        margin: 8px 4px ;
    
    }
    .line-cylinder {
        width: .8rem;
        height: 3px;
        margin-right: 8px;
    }
    .line-cylinder:nth-child(5),.line-cylinder:nth-child(14),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11), .line-cylinder:nth-child(10), .line-cylinder:nth-child(15), .line-cylinder:nth-child(16), .line-cylinder:nth-child(17) {
        display: block !important;
    }
    .line-cylinder-line {
        width: 28rem;
        height: 3.2px;
        margin-bottom: -10px;
        margin-right: 0px;
        margin-left: 5rem;
    }
    .line-cylinder-line2 {
        width: 6.5rem;
        height: 3px !important;
        border-radius: 100px;
    }
    .linediv {
        margin-left: -30px;
        margin-bottom: -9px;
    }
    .dotted-line {
        margin-top: .8rem;
    }
    .imagealignerdiv {
        margin-left: 15rem;
    }
    .textdiv {
        margin-left: -.5rem;
    }
    .coldiv {
        width: 100%;
    }
    .first-divax {
        height: fit-content;
    }
    .hitext {
        font-size: 1.25rem;
        font-weight: 500;
    }
    .sayinghi {
        margin-top: 0px !important;
    }
    .imtext {
        margin-top: 6px;
    }
    .main-heading-h {
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-top: 1rem;
    }
    .hitext {
        font-size: 1.7rem;
        font-weight: 500;
    }
    .content-heading {
        font-size: 1.4rem;
        padding-left: 0;
    }
    .slidecomponent, .slidecomponent-b {
        width: 20rem;
        height: 20rem;
        border-radius: 10px;
    }
    .secondparent {
        margin-left: 4rem;
        margin-top: -1rem;
    }
    .sliderrow {
        margin-top: 1rem !important;
    }
    .skilltray {
        width: 100%;
    }
    .skilltray-inner {
        width: 100%;
    }
    .skilltray-inner p {
        font-size: .8rem;
        margin-top: .5rem;
    }
    .interestincol h1 {
        font-size: 1.3rem;
    }
    .interestincol p {
        font-size: 1.1rem;
    }
    .footer-mail-h2,.footer-mail-p, .footer-svgs {
        padding-left: 2rem !important;
        padding-top: 1rem !important;
    }
    .row.p-0.mt-4.skillrow {
        padding: 0 3rem;
    }
    .content-container-h {
        margin-top: 2rem !important;
    }
    .footer-mail-h2 {
        padding: 0 !important;
    }
    .mail-me {
        padding-left: 2rem;
    }
    .footer-mail-p {
        margin:0 0 1rem 0 !important; 
    }
    .underdiv {
        border-bottom: 2px solid #009b72;
    }
    .underdiv-nil:hover {
        border-bottom: 2px solid #009b72;
    }
}

 @media only screen and (max-width: 1300px) and (min-width: 990px)  {
    .dp-image, .blue-circle {
        width: 18.375rem;
        height: 18.375rem;
    }
    .parent {
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        margin-left: -2.5rem;
        margin-top: 2rem !important;
        width: 11rem;
        }
    .circle-h-dots {
        width: 6px;
        height: 6px;
        margin: 8px 4px ;
    }
    .line-cylinder-line {
        width: 8rem;
        margin-right: 0px;
        margin-left: 10rem;
        margin-top: 3rem !important;
    }
    .line-cylinder-line2 {
        border-radius: 100px;
    }
    .sayinghi{
        margin-top: 8.5rem !important;
    }
    .hitext {
        margin-top: .2rem;
    }
    .second-divax {
        padding-right: .5rem !important;
    }
    .main-heading-h {
        font-size: 1.4rem;
    }
    .second-divax p {
        width: 70%;
    }
    .content-heading  {
        font-size: 1.4rem;
    }
    .skilltray {
        width: 96% !important;
    }
    .skilltray-inner {
        width: 100%;
    }
    .underdiv {
        border-bottom: 3px solid #009b72;
    }
    .underdiv-nil:hover {
        border-bottom: 3px solid #009b72;
    }
    .link-col-h {
        width: 40%;
    }
 }

 






 