* {
    box-sizing: border-box;
}
body {
    background-color: #FCFCF6;
    font-family: 'Poppins';
    font-style: normal;
    transition: all 0.6s;
}


h1 {
    margin: 0;
    padding: 0;
    color: #000720;
}

.mainmain  {
    overflow-x: hidden;
}

.h-navbar {
    background: #FCFCF6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    transition: all 0.6s;
}


.radio-btn {
    width: 3.5rem;
    height: 2rem;
    padding:3px;
    background-color: #27173a;
    border-radius: 50px;
    overflow: hidden;
    cursor: pointer;
  }
  
  .radio-btn .radio-inner {
    position: relative;
    width: 1.6rem;
    height: 100%;
    background-color: #ffc207;
    border-radius: 50%;
    transition: all 0.6s;
  }
  
  .radio-btn .radio-inner::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-color: #27173a;
    border-radius: 50%;
    transform: scale(0);
    transition: all 0.6s;
  }
  
  .radio-btn .radio-inner.active {
    transform: translateX(1.55rem);
  }
  
.radio-btn .radio-inner.active::before {
    left: -25px;
    transform: scale(1);
    left: -45%;
    top: -20%;
  }


.first-roww {
    margin-top: 8rem !important;
}

.main-loho-h {
    font-family: 'Rampart One';
    font-size: 2.625rem;
    color: #009B72;
    text-decoration: none;
}

.link-col-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 1.875rem;
    text-decoration-line: none;
}

.h-navbar a {
    text-decoration: none;
    color: #009B72;
}

.blue-circle {
    /* position: relative; */
    width: 22.375rem;
    height: 22.375rem;
    /* left: 4rem; */
    background: #2042BB;
    border-radius: 50%;
    z-index: -1;
    
}

.dp-image {
    position: absolute;
    width: 22.375rem;
    height: 22.375rem;
    z-index: 1;
    /* left: 4.6rem; */
    justify-self: unset;   
}
.firststcol {
    z-index: 1;
}

.dotsandlines {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 4px;
    grid-row-gap: 5px;
    height: 5rem;
    /* width: 100px;     */
    margin-left: -4.5rem;
}

.circle-h-dots {
    width: 7px;
    height: 7px;
    border-radius: 100% !important;
    margin: 10px 20px ;
    background: #F26430;

}

.circle-h-dots:nth-child(6), .circle-h-dots:nth-child(11), .circle-h-dots:nth-child(16) {
    background-color: #009DDC;

}
.line-cylinder {
    width: 1rem;
    height: .25rem;
    border-radius: 100px;
    background: #F26430;
    margin-right: 10px;


}
.line-cylinder:nth-child(14),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11), .line-cylinder:nth-child(10), .line-cylinder:nth-child(15), .line-cylinder:nth-child(16), .line-cylinder:nth-child(17) {
    display: none !important;
}
.line-cylinder-line {
    width: 8rem;
    height: 4px;
    border-radius: 100px;
    background: #F26430;
    align-self: flex-end;
    margin-bottom: -85px;
    

}
.line-cylinder-line2 {
    width: 180px;
    height: 4px;
    border-radius: 100px;
    background: #F26430;
    margin-left: -50px;


}

.linediv {
    justify-content: end;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-left: -90px;
    margin-bottom: -90px;
}


.dotted-line {
    position: absolute;
    top: 10rem;
    left: 0px !important;
    margin-top: 40px;
    /* z-index: -1; */
}

.imagealignerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center */
    margin-left: 90px;
}

.coldiv {
    width: 100%;
}
.first-divax {
    height: fit-content;
}

.hitext {
    font-weight: 600;
}
.sayinghi {
    margin-top: 80px !important;
}

.imtext {
    margin-top: -50px;
}

.viewbtn {
    text-decoration: none !important;
    border: 2px solid #009B72;
    border-radius: 5px;
    color: #009B72;
}



.main-heading-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    width: 90% ;
}
.second-divax> p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    text-align: center;
}

/* SECOND CONTAINER MY WORKS */
.content-container-h {
    margin-top: 4.5rem;

}

.content-heading {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.slidecomponent {
    height: 552px;
    width: 552px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.08));
    cursor: grab;
}

.myimages {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
}

.outerrow {
    overflow: scroll;
    overflow: auto;

 }
      
.outerrow::-webkit-scrollbar {
    height: 6px;

  }

  .outerrow::-webkit-scrollbar-track {
    background: transparent;
    cursor: grab;
    margin-left: 76px;
  }
  
  .outerrow::-webkit-scrollbar-thumb {
    background: #f264305e;
    border-radius: 100px;
    transition: .3s ease-in-out;
  }

  .outerrow::-webkit-scrollbar-thumb:hover {
    background: #F26430;
    transition: .3s ease-in-out;
  }

  /* Main Scrollbar */

  ::-webkit-scrollbar {
    width: 6px;
    cursor: grab;
  }
::-webkit-scrollbar-track {
    overflow-y: hidden;
    background: transparent;
    margin-right: 10px;


  }
  
::-webkit-scrollbar-thumb {
    background: #F26430;
    border-radius: 100px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #f17244;
  }
.sliderrow {
    display: flex;
    margin-top: 36px;
    width: fit-content;
}



.secondparent {
       display: grid;
       grid-template-columns: repeat(3, 1fr);
       grid-template-rows: repeat(3, 1fr);
       width: 80%;
}
    
.skilltray {
    width: 80%;
    aspect-ratio: 1/1;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skilltray-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    aspect-ratio: 1/1;
}   

.skilltray-inner p {
    margin-top: 1rem;
    margin-bottom: 0;
}
.interestincol {
    text-align: left;
}

.interestincol h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 72px;
    color: #009B72;


}
.interestincol p {
    font-weight: 400;
    font-size: 24px;
    color: #009B72;
}

.interestincol p a {
    color: #009B72;
    font-weight: 500;
}
.interestincol p a:hover {
    color: #009DDC;
    font-weight: 500;
}

footer {
    background:#F5FDC6 ;
    padding: 20px ; 
    height: 18rem;

}

footer h2 a {
    margin-bottom: 2rem;
    color: #000720;
    font-weight: 600;
    text-decoration:none;
}
footer p {
    color: #000720;
    font-weight: 500;
    text-decoration:none;
}

footer p a {
    color: #000720;
    font-weight: 600;
}


/* FAB ICON */
.fab-button-main {
    position: fixed;
    bottom: 3.5rem;
    right: 7rem;
    z-index: 10;
    width: fit-content;
    height: fit-content !important;
}

.innerfabflex {
    height: 3rem;
}

.inner-fab {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(2.8px);
    height: 100%;
    border-radius: 50%;
}

.inner-fab svg {
    width: 100%;
    height: 100%;
}
.get-in-touch {

    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 3.5rem;
    right: 7rem;
    z-index: 1000;
    cursor: pointer;
}
.git-inner {

    width: fit-content;
    aspect-ratio: 1/1;
    background: #009b72;
    border-radius: 50%;
    text-align: center;
    color: #FCFCF6;
}
.git-inner p {
    margin: 0;
    font-weight: 500;
}
.inner-fab {
    aspect-ratio: 1/1;
    color: #009B72;
}
.inner-fab svg {
    border-radius: 1000px;
}
.linki, .insta, .phone {
    transition: ease-in-out;
    transition-duration: 300ms;
    position: relative;
    bottom: 1rem;
    margin-left: 1.5rem;

}
.linki {
    right: -8rem;
}
.phone {
    right: 1.2rem;
}
.insta {
    right: -3rem;
}
.fab-button-main:hover .innerfabflex .insta, .fab-button-main:hover .innerfabflex .linki {
    right: 1.8rem;
}
.fab-button-main:hover .innerfabflex .phone {
    bottom: 6rem;
}
.inner-fab:hover svg{
    box-shadow: 0px 0px 10px #009edc7d;
    object-fit: cover;
    cursor: pointer;
}

/* ABOUT ME */
.about-me-row {
    margin-top: 3rem;
}
.abt-me-txt {
    font-weight: 300;
    line-height: 3rem;
}
.my-imag-div {
    width: 60%;
}
.my-about-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.carousel {
    height: 1vh;
}
.carousel-item {
    height: 100%;
}
.abt-me-txt a {
    color: #000720;
}
.carousel-imgg {
    object-fit: cover;
    width: 18.75rem;
    aspect-ratio: auto;
}
.darkbutn {
    background-color: #000720;
    color: #FCFCF6;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 1rem;
    width: fit-content;
}

/* darkmode */

body.dark {
    background: #393E46;
    color : #EEEEEE;
  }
  .h-navbar.dark {
    background: #393E46;
    transition: all 0.6s;
  }
  .line-cylinder-line2.dark {
    background: #0ACF83;
    transition: all 0.6s;
  }

@media only screen and (max-width: 768px) and (min-width: 0px) { 
    .main-loho-h {
        font-size: 2rem;
    }
    .link-col-h {
        font-size: .8em;
        padding: 0 !important;
        align-items: flex-end;
        font-weight: 400;
    }

    /* Hero image */
    .first-roww {
        margin-top: 4.5rem !important;
    }
    
    .parent {
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        margin-left: -2.3rem;
        margin-top: 1.5rem !important;
        width: 11rem;
        }
    .circle-h-dots {
        width: 5px;
        height: 5px;
        margin: 8px 6px 
    }
    .dp-image, .blue-circle {
        width: 13.375rem;
        height: 13.375rem;
    }                                             
    
    .line-cylinder {
        width: .8rem;
        height: 3px;
        margin-right: 8px;
    }
    .line-cylinder:nth-child(5),.line-cylinder:nth-child(14),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11), .line-cylinder:nth-child(10), .line-cylinder:nth-child(15), .line-cylinder:nth-child(16), .line-cylinder:nth-child(17) {
        display: none !important;
    }
    .line-cylinder-line {
        width: 25rem;
        height: 3px;
        margin-bottom: 0px;
        margin-right: 0px;
        margin-left: 4rem;      
    }
    .line-cylinder-line2 {
        width: 5rem;
        height: 3px;
        border-radius: 100px;
        background: #F26430;
    }   
    .linediv {
        margin-left: -9px;
        margin-bottom: -9px;
    }    
    .dotted-line {
        margin-top: -1.8rem;
    }   
    .imagealignerdiv {
        margin-left: 1.8rem;
    }
    .textdiv {
        margin-left: -.5rem;
    }
    .coldiv {
        width: 100%;
    }
    .first-divax {
        height: fit-content;
    }
    .hitext {
        font-size: 1.25rem;
        font-weight: 500;
    }
    .sayinghi {
        margin-top: 0px !important;
    }
    .imtext {
        margin-top: 6px;
    }

/* Im UI UX Designer */
    .main-heading-h {
        font-size: 1rem;
        line-height: 1.5rem;
        margin-top: 1rem;
    }
    .second-divax {
        padding: 2rem .5rem 0 .5rem !important;
    }
    .second-divax p {
        font-size: .8rem !important;
        margin-top: 1rem !important;
    }

    /* FAB button */
    .get-in-touch {
        bottom: 10%;
        right: 10%;
    }
    .linki, .insta, .phone {
        transition: ease-in-out;
        transition-duration: 300ms;
        position: relative;
        bottom: 2rem;
        margin-left: -1rem;    
    }
    .linki {
        right: -7.5rem;
    }
    .phone {
        right: -3.5rem;
    }
    .insta {
        right: -6rem;
    }
    .fab-button-main:hover .innerfabflex .phone {
        bottom: 7rem;
    }
    .inner-fab:hover svg{
        box-shadow: 0px 0px 10px #009edc7d;
        object-fit: cover;
        cursor: pointer;
    }
    .fab-button-main:hover .innerfabflex .insta {
        right: 0rem;
    }
     .fab-button-main:hover .innerfabflex .linki {
        right: 3rem;
    }
    .content-container-h {
        margin-top: 3rem !important;
    }
    .content-container-h .container-fluid {
        padding: 0 !important;
    }
    .content-heading {
        font-size: 1rem;
    }
    .outerrow {
        padding-left: 1rem !important;
    }
    .slidecomponent {
        height: 20rem;
        width: 20rem;
        margin-left: .1rem !important;
    }
    .viewbtn {
        font-size: .8rem;
        padding: 8px 16px !important;
    }
    .sliderrow {
        margin-top: 1rem;
    }
    .skillrow {
        margin-top: 0 !important;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .skilltray {
        width: 96% !important;
    }
    .skilltray p {
        font-size: .7rem;
        padding-top: .8rem;
        margin-top: 0;
    }
    .skilltray-inner {
        width: 100%;
    }
    .interestincol {
        display: none !important;
    }
    footer {
        height: 11rem;
    }
    .inner-foot {
        padding-left: 1.1rem !important;
    }
    .footer-mail-h2 {
        font-size: 1.1rem !important;
    }
    .footer-mail-p {
        font-size: .8rem;
        margin-top: 0px !important;
        width: 65%;
    }
    .svgdiv {
       margin-top: 1rem !important;
       width: 15%;
    }
    .svgdiv svg {
        width: 100% !important;
    }

    /* ABOUT ME */
    .about-me-row {
        margin-top: 0rem;

    }
    .about-me-row .col-lg-8 {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 2rem !important;
        padding-bottom: 1rem !important;
    }
    .about-me-row h1 {
        font-size: 1rem;
        padding-left: 2rem !important;
    }
    .about-me-row h4 {
        font-size: .8rem;
        line-height: 1.6rem;
        padding-top: .5rem !important;
        padding-left: 2rem !important;
    }
    .secondd-row {
        flex-direction: column-reverse;
        margin-top: 1rem !important;
    }
    .about-me-row .col-lg-12 {
        width: 100%;
        padding-left: 0 !important;
        padding-right: 2rem !important;
        padding-top: 0 !important;
    }
    .about-me-row:nth-child(3) {
        margin-top: .1rem !important;
    }

    .darkbutn {
        font-size: .8rem;
        padding: 8px 16px !important;
    }
 }

 @media only screen and (max-width: 768px) and (min-width: 476px)  {

    .imagealignerdiv {
        margin-left: 7rem;
    }

    .skillrow {
        display: flex !important;
        flex-direction: row !important;
    }
    .line-cylinder:nth-child(5),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11) {
        display: block !important;
    }
    .interestincol {
        display: block !important;
        margin-bottom: 0;
        text-align: center;
        padding-left: 0;
        display: flex !important;
        width: 100%;
        margin-top: 1.3rem;
    }
    .interestincol h1 {
        font-size: 1.4rem;
        height: fit-content;
        margin-bottom: -1rem;
    }
    .interestincol p {
        font-size: 1rem;
    }
    .secondparent {
        width: 60%;
    }
    .skilltray p {
        font-size: 100%;
        padding-top: .6rem;
      }

    
 }
 @media only screen and (max-width: 768px) and (min-width: 581px)  {
    .imagealignerdiv {
        margin-left: 11rem;
    }
    .secondparent {
        width: 60%;
    }
 }
 
 @media only screen and (max-width: 990px) and (min-width: 768px)  {
    .first-roww {
        margin-top: 6rem !important;
    }
    .main-loho-h {
        font-size: 2.3rem;
    }
    .link-col-h {
        font-size: 1rem;
        font-weight: 400;
        padding-right: 0 !important;
        width: 50%;
    }
    .dp-image, .blue-circle {
        width: 17.375rem;
        height: 17.375rem;

    }
    .line-cylinder:nth-child(5),.line-cylinder:nth-child(14),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11), .line-cylinder:nth-child(10) {
        display: none !important;
    }
    .parent {
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        margin-left: -2.5rem;
        margin-top: 1.5rem !important;
        width: 11rem;
        }
    .circle-h-dots {
        width: 5px;
        height: 5px;
        margin: 8px 4px ;
    
    }
    .line-cylinder {
        width: .8rem;
        height: 3px;
        margin-right: 8px;
    }
    .line-cylinder:nth-child(5),.line-cylinder:nth-child(14),.line-cylinder:nth-child(13), .line-cylinder:nth-child(12), .line-cylinder:nth-child(11), .line-cylinder:nth-child(10), .line-cylinder:nth-child(15), .line-cylinder:nth-child(16), .line-cylinder:nth-child(17) {
        display: block !important;
    }
    .line-cylinder-line {
        width: 28rem;
        height: 3.2px;
        margin-bottom: -10px;
        margin-right: 0px;
        margin-left: 5rem;
    }
    .line-cylinder-line2 {
        width: 6.5rem;
        height: 3px !important;
        border-radius: 100px;
        background: #F26430;
    }
    .linediv {
        margin-left: -30px;
        margin-bottom: -9px;
    }
    .dotted-line {
        margin-top: .8rem;
    }
    .imagealignerdiv {
        margin-left: 15rem;
    }
    .textdiv {
        margin-left: -.5rem;
    }
    .coldiv {
        width: 100%;
    }
    .first-divax {
        height: fit-content;
    }
    .hitext {
        font-size: 1.25rem;
        font-weight: 500;
    }
    .sayinghi {
        margin-top: 0px !important;
    }
    .imtext {
        margin-top: 6px;
    }
    .main-heading-h {
        font-size: 1.5rem;
        line-height: 2.4rem;
        margin-top: 1rem;
    }
    .hitext {
        font-size: 1.7rem;
        font-weight: 500;
    }
    .content-heading {
        font-size: 1.4rem;
        padding-left: 0;
    }
    .slidecomponent {
        width: 20rem;
        height: 20rem;
        border-radius: 10px;
    }
    .secondparent {
        margin-left: 4rem;
        margin-top: -1rem;
    }
    .sliderrow {
        margin-top: 1rem !important;
    }
    .skilltray {
        width: 90%;
    }
    .skilltray-inner {
        width: 100%;
    }
    .skilltray-inner p {
        font-size: .8rem;
        margin-top: .5rem;
    }
    .interestincol h1 {
        font-size: 1.3rem;
    }
    .interestincol p {
        font-size: 1.1rem;
    }
    .footer-mail-h2,.footer-mail-p, .footer-svgs {
        padding-left: 2rem !important;
        padding-top: 1rem !important;
    }
 }

 @media only screen and (max-width: 1300px) and (min-width: 990px)  {
    .dp-image, .blue-circle {
        width: 18.375rem;
        height: 18.375rem;
    }
    .parent {
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        margin-left: -2.5rem;
        margin-top: 2rem !important;
        width: 11rem;
        }
    .circle-h-dots {
        width: 6px;
        height: 6px;
        margin: 8px 4px ;
    }
    .line-cylinder-line {
        width: 8rem;
        margin-right: 0px;
        margin-left: 10rem;
        margin-top: 3rem !important;
    }
    .line-cylinder-line2 {
        border-radius: 100px;
    }
    .sayinghi{
        margin-top: 8.5rem !important;
    }
    .hitext {
        margin-top: .2rem;
    }
    .second-divax {
        padding-right: .5rem !important;
    }
    .main-heading-h {
        font-size: 1.4rem;
    }
    .second-divax p {
        width: 70%;
    }
    .content-heading  {
        font-size: 1.4rem;
    }
    .skilltray {
        width: 96% !important;
    }
    .skilltray-inner {
        width: 100%;
    }

 }

 







 