body {
    background-color: #FCFCF6;
    box-sizing: border-box;
    font-family: 'Poppins';
    font-style: normal;

}


h1 {
    margin: 0;
    padding: 0;
    color: #000720;
}

.mainmain  {
    overflow-x: hidden;
}

.h-navbar {
    background: #FCFCF6;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.h-navbar a {
    color: #009B72;
}

.first-roww {
    margin-top: 8rem !important;
}

.main-loho-h {
    font-family: 'Rampart One';
    font-size: 2.625rem;
    color: #009B72;
    text-decoration: none;
}

.link-col-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #009DDC;
}

.blue-circle {
    /* position: relative; */
    width: 358px;
    height: 358px;
    /* left: 4rem; */
    background: #2042BB;
    border-radius: 1000px;
    z-index: -1;
    
}

.dp-image {
    position: absolute;
    width: 358px;
    height: 358px;
    z-index: 100;
    /* left: 4.6rem; */
    justify-self: unset;


    
}
.firststcol {
    z-index: 1;
}

.dotsandlines {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 

}

.parent {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 9px;
    grid-row-gap: 7px;
    height: 80px;
    /* width: 100px;     */
    margin-left: -70px;
    }

.circle-h-dots {
    width: 7px;
    height: 7px;
    border-radius: 1000px !important;
    margin: 14px 20px ;
    background: #F26430;

}

.circle-h-dots:nth-child(6), .circle-h-dots:nth-child(11), .circle-h-dots:nth-child(16) {
    background-color: #009DDC;

}
.line-cylinder {
    width: 15px;
    height: 4px;
    border-radius: 100px;
    background: #F26430;
    margin-right: 10px;


}
.line-cylinder-line {
    width: 130px;
    height: 4px;
    border-radius: 100px;
    background: #F26430;
    align-self: flex-end;
    margin-bottom: -85px;
    

}
.line-cylinder-line2 {
    width: 180px;
    height: 4px;
    border-radius: 100px;
    background: #F26430;
    margin-left: -50px;


}

.linediv {
    justify-content: end;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    margin-left: -90px;
    margin-bottom: -90px;
}


.dotted-line {
    position: absolute;
    top: 10rem;
    left: 0px !important;
    margin-top: 40px;
    /* z-index: -1; */
}

.imagealignerdiv {
    display: flex;
    justify-content: center;
    align-items: center;
    /* justify-content: center */
    margin-left: 90px;
}

.dot-main {
    /* position: absolute; */
    align-self: flex-end;
    min-height: 400px;
    max-height: 400px;
    min-width: 600px;
    max-width: 600px !important;
}

.coldiv {
    width: 100%;
}
.first-divax {
    height: fit-content;
}

.hitext {
    font-weight: 600;
}
.sayinghi {
    margin-top: 80px !important;
}

.imtext {
    margin-top: -50px;
}

.viewbtn {
    text-decoration: none !important;
    border: 2px solid #009B72;
    border-radius: 5px;
    color: #009B72;
}



.main-heading-h {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    width: 90% ;
}
.second-divax> p {
    font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 1rem;
line-height: 24px;
text-align: center;
}

/* SECOND CONTAINER MY WORKS */
.content-container-h {
    margin-top: 4.5rem;

}

.content-heading {
    font-weight: 500;
    font-size: 28px;
    line-height: 36px;
}

.slidecomponent {
    height: 552px;
    width: 552px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    filter: drop-shadow(6px 6px 12px rgba(0, 0, 0, 0.08));
    cursor: grab;
}

.myimages {
    width: 100%;
    height: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 20px;
}

.outerrow {
    overflow: scroll;
    overflow: auto;

 }
      
.outerrow::-webkit-scrollbar {
    height: 6px;

  }

  .outerrow::-webkit-scrollbar-track {
    background: transparent;
    cursor: grab;
    margin-left: 76px;
  }
  
  .outerrow::-webkit-scrollbar-thumb {
    background: #f264305e;
    border-radius: 100px;
    transition: .3s ease-in-out;
  }

  .outerrow::-webkit-scrollbar-thumb:hover {
    background: #F26430;
    transition: .3s ease-in-out;
  }

  /* Main Scrollbar */

  ::-webkit-scrollbar {
    width: 6px;
    cursor: grab;
  }
::-webkit-scrollbar-track {
    overflow-y: hidden;
    background: transparent;
    margin-right: 10px;


  }
  
::-webkit-scrollbar-thumb {
    background: #F26430;
    border-radius: 100px;
  }

::-webkit-scrollbar-thumb:hover {
    background: #f17244;
  }
.sliderrow {
    display: flex;
    margin-top: 36px;
    width: fit-content;
}



.secondparent {
    
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: repeat(3, 1fr);
width: 80%;

    }
    
.skilltray {
    width: 80%;
    aspect-ratio: 1/1;
    background: #FFFFFF;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    }

.skilltray-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 70%;
    aspect-ratio: 1/1;
}   

.skilltray-inner p {
    margin-bottom: 0;
}
.interestincol {
    text-align: left;
}

.interestincol h1 {
    font-weight: 500;
    font-size: 32px;
    line-height: 72px;
    color: #009B72;


}
.interestincol p {
    font-weight: 400;
    font-size: 24px;
    color: #009B72;
}

.interestincol p a {
    color: #009B72;
    font-weight: 500;
}
.interestincol p a:hover {
    color: #009DDC;
    font-weight: 500;
}

footer {
    background:#F5FDC6 ;
    padding: 20px ; 
    height: 15rem;

}

footer h2 a {
    margin-bottom: 2rem;
    color: #000720;
    font-weight: 600;
    text-decoration:none;
}
footer p {
    color: #000720;
    font-weight: 500;
    text-decoration:none;
}

footer p a {
    color: #000720;
    font-weight: 600;
}


/* FAB ICON */
.fab-button-main {
    position: fixed;
    bottom: 3.5rem;
    right: 7rem;
    z-index: 1000;
    width: fit-content;
    height: fit-content !important;
}

.innerfabflex {
    height: 3rem;
}

.inner-fab {
    background: rgba(217, 217, 217, 0.1);
    backdrop-filter: blur(2.8px);
    height: 100%;
    border-radius: 50%;
}

.inner-fab svg {
    width: 100%;
    height: 100%;
}



.get-in-touch {

    width: fit-content;
    height: fit-content;
    position: fixed;
    bottom: 3.5rem;
    right: 7rem;
    z-index: 1000;
    cursor: pointer;
}

.git-inner {

    width: fit-content;
    aspect-ratio: 1/1;
    background: #009b72;
    border-radius: 1000px;
    text-align: center;
    color: #FCFCF6;
}

.git-inner p {
    margin: 0;
    font-weight: 500;
}

.inner-fab {
    aspect-ratio: 1/1;
    color: #009B72;
}



.inner-fab svg {
    border-radius: 1000px;
}

.linki, .insta, .phone {

    transition: ease-in-out;
    transition-duration: 300ms;
    position: relative;
    bottom: 1rem;
    margin-left: 1.5rem;
    
}
.linki {
    right: -8rem;
}
.phone {
    right: 1.2rem;
}
.insta {
    right: -3rem;
}
.fab-button-main:hover .innerfabflex .insta, .fab-button-main:hover .innerfabflex .linki {
    right: 1.8rem;
}
.fab-button-main:hover .innerfabflex .phone {
    bottom: 6rem;
}

.inner-fab:hover svg{
    box-shadow: 0px 0px 10px #009edc7d;
    object-fit: cover;
    cursor: pointer;
}



/* ABOUT ME */

.about-me-row {
    margin-top: 7rem;
}

.abt-me-txt {
    font-weight: 300;
    line-height: 3rem;
}

.my-imag-div {
    width: 60%;

}

.my-about-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.carousel {
    height: 1vh;
}

.carousel-item {
    height: 100%;
}

.abt-me-txt a {
    color: #000720;
}